@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");


body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-touch-callout: none;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(90deg, #4aa144 20%, #5eb566 20%, #5eb566 40%, #4aa144 40%, #4aa144 60%, #5eb566 60%, #5eb566 80%, #4aa144 80%, #4aa144 100%);
}

*::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#overlay {
  background: #006609;
  background-blend-mode: overlay;
}

.bg-stripe {
  /* background: rgb(0, 56, 2); */
  
  
}

input { -webkit-user-select:text;}


/* #5eb566
#4aa144 */